


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-user"></i>
        </div>
        <div class="header-title">
            <h1>Detalii Proprietar</h1>
            <small></small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- Form controls -->
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="btn-group" id="buttonlist">
                            <a class="btn btn-add " [routerLink]="['/proprietari-list']">
                                <i class="fa fa-list"></i> Lista proprietari
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">

                        <table class="rtable rtable--flip">
                            <thead>
                                <tr>
                                    <th>Nume</th>
                                    <th>Prenume</th>
                                    <th>CNP</th>
                                    <th>Serie CI</th>
                                    <th>Numar CI</th>
                                    <th>Judet</th>
                                    <th>Localitate</th>
                                    <th>Adresa</th>
                                    <th>Telefon</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> {{proprietar.nume}}</td>
                                    <td> {{proprietar.prenume}}</td>
                                    <td> {{proprietar.cnp}}</td>
                                    <td> {{proprietar.serieCI}}</td>
                                    <td> {{proprietar.numarCI}}</td>
                                    <td> {{proprietar.judet}}</td>
                                    <td> {{proprietar.localitate}}</td>
                                    <td *ngIf="proprietar.adresa"> {{proprietar.adresa}}</td>
                                    <td *ngIf="!proprietar.adresa"><br /> </td>
                                    <td> {{proprietar.telefon}}</td>
                                    <td *ngIf="proprietar.email"> {{proprietar.email}}</td>
                                    <td *ngIf="!proprietar.email"><br /> </td>
                                </tr>
                            </tbody>
                        </table>

                        <br />
                        <button type="button" class="btn btn-info" [routerLink]="['/proprietar/'+ proprietar.id]"><i class="glyphicon glyphicon-edit"></i> Edit</button>
                       
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">

                    <div class="panel-heading">
                        <div class="btn-group" id="buttonlist">
                            <div class="row">
                                <h3 style="line-height: 30px!important; font-weight:500!important; margin-left:20px"> Animale Proprietar </h3>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">

                        <button [routerLink]="['/animal/' + proprietar.id]" class="btn btn-info"><i class="fa fa-plus"></i>ADD Animal</button>

                        <br />
                        <br />
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>Nume</th>
                                        <th>Categorie</th>
                                        <th>Culoare</th>
                                        <th>Data Nasterii</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of animale">
                                        <td class="borded-td">
                                            <a [routerLink]="['/animal/details/' + x.id ]">
                                                <div style="height:100%;width:100%">
                                                    {{x.nume}}
                                                </div>
                                            </a>
                                        </td>
                                        <td class="borded-td">{{x.categorie}}</td>
                                        <td class="borded-td">{{x.culoare}}</td>
                                        <td class="borded-td">{{x.dataNasterii | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align:center">
                                            <button type="button" class="btn btn-info btn-xs" [routerLink]="['/animal/edit/' + x.id]"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs" (click)="deleteAnimal(x.id)"><span class='glyphicon glyphicon-remove '></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
