


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-stethoscope"></i>
        </div>
        <div class="header-title">
            <h1>Lista Consultatii</h1>
            <small></small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
       
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">

                    <div class="panel-heading">
                        <div class="btn-group" id="buttonlist">
                            <div class="row">
                                <a style="margin-left:20px" class="btn btn-add " [routerLink]="['/medic-list']">
                                    <i class="fa fa-list"></i> Lista medici
                                </a>
                                <button [routerLink]="['/consultatie/' + medic.id]" class="btn btn-add"><i class="fa fa-plus"></i> ADD Consultatie</button>
                            </div>

                            <div class="row">
                                <h3 style="line-height: 30px!important; font-weight:500!important; margin-left:20px">Consultatii urmatoare</h3>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>Descriere</th>
                                        <th>Data</th>
                                        <th>Pret</th>
                                        <th>Observatii</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of consultatiiNoi">
                                        <td class="borded-td">{{x.descriere}}</td>
                                        <td class="borded-td">{{x.data | date:'dd/MM/yyyy'}}</td>
                                        <td class="borded-td">{{x.pret}}</td>
                                        <td class="borded-td">{{x.observatii}}</td>
                                        <td style="text-align:center">
                                            <button type="button" class="btn btn-violet btn-xs" [routerLink]="['/interventie/' + x.id]"><i class="glyphicon glyphicon-plus"></i></button>
                                            <button type="button" class="btn btn-pink btn-xs" [routerLink]="['/reteta/' + x.id]"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                            <button type="button" class="btn btn-info btn-xs" [routerLink]="['/consultatie/edit/' + x.id]"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs" (click)="deleteConsultatie(x.id)"><span class='glyphicon glyphicon-remove '></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">

                    <div class="panel-heading">
                        <div class="btn-group" id="buttonlist">
                            <div class="row">
                                <h3 style="line-height: 30px!important; font-weight:500!important; margin-left:20px">Istoric Consultatii efectuate</h3>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>Descriere</th>
                                        <th>Data</th>
                                        <th>Pret</th>
                                        <th>Observatii</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of consultatiiVechi">
                                        <td class="borded-td">{{x.descriere}}</td>
                                        <td class="borded-td">{{x.data | date:'dd/MM/yyyy'}}</td>
                                        <td class="borded-td">{{x.pret}}</td>
                                        <td class="borded-td">{{x.observatii}}</td>
                                        <td style="text-align:center">
                                            <button type="button" class="btn btn-violet btn-xs" [routerLink]="['/interventie/' + x.id]"><i class="glyphicon glyphicon-plus"></i></button>
                                            <button type="button" class="btn btn-pink btn-xs" [routerLink]="['/reteta/' + x.id]"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                            <button type="button" class="btn btn-info btn-xs" [routerLink]="['/consultatie/edit/' + x.id]"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs" (click)="deleteConsultatie(x.id)"><span class='glyphicon glyphicon-remove '></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">

                    <div class="panel-heading">
                        <div class="btn-group" id="buttonlist">
                            <div class="row">
                                <h3 style="line-height: 30px!important; font-weight:500!important; margin-left:20px">Interventii urmatoare</h3>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>Nume</th>
                                        <th>Descriere</th>
                                        <th>Data</th>
                                        <th>Pret</th>
                                        <th>Descriere Consultatie</th>
                                        <th>Data Consultatie</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of interventiiNoi">
                                        <td class="borded-td">{{x.nume}}</td>
                                        <td class="borded-td">{{x.descriere}}</td>
                                        <td class="borded-td">{{x.data | date:'dd/MM/yyyy'}}</td>
                                        <td class="borded-td">{{x.pret}}</td>
                                        <td class="borded-td">{{x.descriereConsultatie}}</td>
                                        <td class="borded-td">{{x.dataConsultatie | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align:center">
                                            <button type="button" class="btn btn-pink btn-xs" [routerLink]="['/reteta/' + x.consultatieID]"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                            <button type="button" class="btn btn-info btn-xs" [routerLink]="['/interventie/edit/' + x.id]"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs" (click)="deleteInterventie(x.id)"><span class='glyphicon glyphicon-remove '></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">

                    <div class="panel-heading">
                        <div class="btn-group" id="buttonlist">
                            <div class="row">
                                <h3 style="line-height: 30px!important; font-weight:500!important; margin-left:20px">Istoric Interventii efectuate</h3>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>Nume</th>
                                        <th>Descriere</th>
                                        <th>Data</th>
                                        <th>Pret</th>
                                        <th>Descriere Consultatie</th>
                                        <th>Data Consultatie</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of interventiiVechi">
                                        <td class="borded-td">{{x.nume}}</td>
                                        <td class="borded-td">{{x.descriere}}</td>
                                        <td class="borded-td">{{x.data | date:'dd/MM/yyyy'}}</td>
                                        <td class="borded-td">{{x.pret}}</td>
                                        <td class="borded-td">{{x.descriereConsultatie}}</td>
                                        <td class="borded-td">{{x.dataConsultatie | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align:center">
                                            <button type="button" class="btn btn-pink btn-xs" [routerLink]="['/reteta/' + x.consultatieID]"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                            <button type="button" class="btn btn-info btn-xs" [routerLink]="['/interventie/edit/' + x.id]"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs" (click)="deleteInterventie(x.id)"><span class='glyphicon glyphicon-remove '></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">

                    <div class="panel-heading">
                        <div class="btn-group" id="buttonlist">
                            <div class="row">
                                <h3 style="line-height: 30px!important; font-weight:500!important; margin-left:20px">Istoric retete emise</h3>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">

                        <!--<h2 style="margin-top:2px">Istoric Retete emise</h2>-->

                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>Numar</th>
                                        <th>Descriere</th>
                                        <th>Descriere Consultatie</th>
                                        <th>Data Consultatie</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of retete">
                                        <td class="borded-td">{{x.numar}}</td>
                                        <td class="borded-td">{{x.descriere}}</td>
                                        <td class="borded-td">{{x.descriereConsultatie}}</td>
                                        <td class="borded-td">{{x.dataConsultatie | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align:center">
                                            <button type="button" class="btn btn-info btn-xs" [routerLink]="['/reteta/edit/' + x.id]"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs" (click)="deleteReteta(x.id)"><span class='glyphicon glyphicon-remove '></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

       
    </section>
    <!-- /.content -->
</div>
