<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-dashboard"></i>
        </div>
        <div class="header-title">
            <h1>CRM Admin Dashboard</h1>
            <small>Very detailed & featured admin.</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox1" (click) = " showAnimals()">
                    <div class="statistic-box">
                        <i class="fa fa-arrow-circle-down fa-2x"></i>
                        
                        <h3>Cauta Animale</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox2">
                    <div class="statistic-box">
                        <i class="fa fa-stethoscope fa-2x"></i>
                        
                        <h3> Cauta Consultatii Medici</h3>
                    </div>
                </div>
            </div>    
        </div>

        <div class="row">
            <div class="table-responsive">
                <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr class="info">
                            <th>Descriere</th>
                            <th>Data</th>
                            <th>Observatii</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of consultatiiNoi">
                            <td class="borded-td">{{x.descriere}}</td>
                            <td class="borded-td">{{x.data | date:'dd/MM/yyyy'}}</td>
                            <td class="borded-td">{{x.observatii}}</td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-info btn-xs" [routerLink]="['/consultatie/edit/' + x.id]"><i class="glyphicon glyphicon-edit"></i></button>
                                <button type="button" class="btn btn-danger btn-xs" (click)="deleteConsultatie(x.id)"><span class='glyphicon glyphicon-remove '></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Google Map</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="google-maps">
                            <iframe src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    <!-- /.content -->
</div>
